body{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}
h1{
  text-align: center;
  color: white;
}
h4{
  text-align: center;
}
button{
  background-color: #008CBA;
  border-radius: 12px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.locked {
    color: #b5b5b5;
}
.score-input {
    font-size: 20px;
    font-weight: 100;
    width: 100px;
    text-align: center;
  }
