body{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  color: black;
}
h1{
  text-align: center;
  color: white;
}
h4{
  text-align: center;
}
